<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jiahao.qa.dao.QuestiontagMapper" >
  <resultMap id="BaseResultMap" type="org.jiahao.qa.pojo.QuestiontagKey" >
    <id column="questionid" property="questionid" jdbcType="INTEGER" />
    <id column="tagid" property="tagid" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="org.jiahao.qa.pojo.QuestiontagKey" >
    delete from questiontag
    where questionid = #{questionid,jdbcType=INTEGER}
      and tagid = #{tagid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.jiahao.qa.pojo.QuestiontagKey" >
    insert into questiontag (questionid, tagid)
    values (#{questionid,jdbcType=INTEGER}, #{tagid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.jiahao.qa.pojo.QuestiontagKey" >
    insert into questiontag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="questionid != null" >
        questionid,
      </if>
      <if test="tagid != null" >
        tagid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="questionid != null" >
        #{questionid,jdbcType=INTEGER},
      </if>
      <if test="tagid != null" >
        #{tagid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>